<h1>Burger Time</h1>

<img src="/images/danceBurger.gif" class="animated-gif" />

<div id="notDevoured">
    <h3>Order up!</h3>
    <ul>
      {{#each burger}}
        {{#unless this.devoured}}
          <p>{{this.id}}. {{this.burger_name}}</p>
          <button data-burgerid="{{this.id}}" class="eatBurger">Eat up!</button>
        {{/unless}}
      {{/each}}
    </ul>
</div>

<div id="Devoured">
    <h3>Burgers that have already been eaten:</h3>
    <ul>
      {{#each burger}}
        {{#if this.devoured}}
            <p>{{this.id}}. {{this.burger_name}}</p>
        {{/if}}
      {{/each}}
    </ul>
</div>


<h2>Enter your order in the box below</h2>
<div id="addBurger">
    <form>
        <textarea id ="burgerText" type="text" name="burger"></textarea>
        <br>
        <button id="burgerInput" type="submit">Place your order!</button>
    </form>
</div>